<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/media/accounts/css/styles.css">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Login form responsive</title>  
        
    </head>
    <body>
        <div class="l-form">
            
            <div class="shape1"></div>
            <div class="shape2"></div>

            <div class="form">
                <img src="/media/img/authentication.svg" alt="" class="form__img">
                <!-- <img src="assets/img/plate3.png" alt="" class="form__img"> -->


                <form action="" class="form__content" method="POST">
                    {%csrf_token%}
                    <h1 class="form__title">Login</h1>

                    <div class="form__div form__div-one">
                        <div class="form__icon">
                            <i class='bx bx-user-circle'></i>
                        </div>

                        <div class="form__div-input">
                            <label for="" class="form__label">Username</label>
                            <input type="text" name="email" class="form__input">
                        </div>
                    </div>

                    <div class="form__div">
                        <div class="form__icon">
                            <i class='bx bx-lock' ></i>
                        </div>

                        <div class="form__div-input">
                            <label for="" class="form__label">Password</label>
                            <input type="password" required name="password" class="form__input">
                        </div>
                    </div>
                    <a href="#" class="form__forgot">Forgot Password?</a>
                    {% include "base/alert.html"%}
                    <input type="submit" class="form__button" value="Login">

                    <!-- <a href="#" class="form__forgot">Don't have an account <span>Register</span></a> -->
                    <span class=" from__account">Don't have an account? <a class="form__a" href="{% url 'register' %}">Register</a> </span>

                    <div class="form__social">
                        <span class="form__social-text">Our login with</span>

                        <a href="#" class="form__social-icon"><i class='bx bxl-facebook' ></i></a>
                        <a href="#" class="form__social-icon"><i class='bx bxl-google' ></i></a>
                        <a href="#" class="form__social-icon"><i class='bx bxl-instagram' ></i></a>
                    </div>
                </form>
            </div>

        </div>
        
        <!-- ===== MAIN JS ===== -->
        <script src="/media/accounts/js/main.js"></script>
    </body>
</html>